bory {
    background-color:#E6E6E6;    
}
h1 {
    text-align: center;
}

p {
    text-align: center;
}

header {
    background-color: #BDBDBD;
}

.pic{
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#menu ul {
    text-align: left;
    margin: 0;
    background-color: #353038;
    list-style: none;
}
#menu ul li{
    display: inline;
}
#menu ul li a {
    padding: 15px 10px;
    display: inline-block;

    color: aliceblue;
    text-decoration: none;

    font-size: large;
}
#menu ul li a:hover{
    color:#666699;
}

footer {
    position: relative;
    top: 340;
    background-color: #353038;
    color: aliceblue;
    font-size: small;
}
